.venv
__pycache__
*.pyo
.git
.gitignore
.idea
.vscode
.mypy_cache
.ruff_cache
.pytest_cache
.egg-info
dist
build
*.egg
.coveragerc
.coverage
.env
.env.example
logs
outputs
notebooks
references
reports
data
